@charset "UTF-8";
<!-- index.html -->

<!-- ... -->
<style>
    body {
        background-color: rgb(20, 40, 60);
        color: rgb(240, 248, 255);
        font-size: 1.3em;
    }

    a {
        color: rgb(255, 111, 111);
    }
</style>
<!-- ... -->